badger-db/
do-git.sh

# Ignore Terraform state files
terraform.tfstate
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/*.terraform.lock.hcl

# Ignore directories used by Terraform
infrastructure/.terraform/

infrastructure/ssh-pub-key

internal-infos.md